.sidebar{
    position:fixed;
    left:0;
    width:72px;
    top:55px;
    bottom:0px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 7;
    align-items: center;
    font-size: 12px;
    padding-top: 15px;
}
.sbar-link{
    background-color: white;
    height:50px;
    margin-bottom:-30px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.sbar-link:hover{
    background-color: lightgray;
    z-index:4;
    cursor:pointer;
}
.sbar-link img{
    height:30px;
   
}