.thumbnail{
    width:100%;
      
}
.trow{
    position:relative;
}
.vtitle{
    width:100%;
    font-weight:bold;
    font-family:roboto,Arial;
    font-size: 14px;
    line-height: 20px;
    margin-bottom:5px;
}
body{
    margin:0px;
    padding-left:80px;
    padding-right: 30px;
    background-color: rgb(247, 247, 247);
}

.blogo{
    vertical-align: top;
       
}
.vbox{
    z-index: 1;
     
}
.grid{
    display: grid;
    grid-template-columns: 40px 1fr;
}

.logo{
border-radius: 50px;
block-size: 30px;
margin-top:20px;

}
.author{
font-family: Arial, Helvetica, sans-serif;
color: grey;
font-size: 12px;
}
.vstatus{
font-size: 11px;
color:grey;
}
.wgrid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 20px;
}
.time{
    background: black;
    color:white;
    position:absolute;
    bottom: 10px;
    right:5px;
    border-radius: 2px;

}
